{% extends 'base-login.html' %}

{% block title %}
Планеты
{% endblock %}

{% block body %}
<h1>Планеты</h1>
<ul>
    {% for character in characters %}
    <li>{{character["url"].rstrip("/").split("/")[-1]}}: <a href="/info_character/?info_type=planets&info_id={{character['url'].rstrip('/').split('/')[-1]}}&page={{page}}">{{character["name"]}}</a></li>
    {% endfor %}
</ul>
{% if prev_page %}
<a href="{{url_for('planets', page=prev_page)}}">Предыдущая страница</a>
{% endif %}
{% if next_page %}
<a href="{{url_for('planets', page=next_page)}}">Следующая страница</a>
{% endif %}
{% endblock %}