{% extends 'base-login.html' %}

{% block title %}
Персонажи
{% endblock %}

{% block body %}
<h1>Персонажи</h1>
<ul>
    {% for character in characters %}
    <li><a href="/info_character/?info_type=starships&info_id={{character['url'].rstrip('/').split('/')[-1]}}&page={{page}}">{{character["name"]}}</a></li>
    {% endfor %}
</ul>
{% if prev_page %}
<a href="{{url_for('starships', page=prev_page)}}">Предыдущая страница</a>
{% endif %}
{% if next_page %}
<a href="{{url_for('starships', page=next_page)}}">Следующая страница</a>
{% endif %}
{% endblock %}